Repository skynergroup/skystream, changes with the labels that .github/labeler.yml gives for each.
All labels: 🎨 frontend, ⚙️ backend, 🔧 config, 📚 documentation, 🚀 ci/cd, 🧪 testing, 🔒 security, ⚡ performance, 📦 dependencies, 🐛 bug, ✨ feature, ♻️ refactor, ⚠️ breaking-change, ♿ accessibility, 📱 mobile, 🎬 video-player, 🌐 api, 💄 styling, 🏗️ build, 🌍 environment, 🚢 deployment, 📊 monitoring, 🔍 seo

feat: add comprehensive CI/CD workflows
  .eslintrc.js
  .github/workflows/code-quality.yml
  .github/workflows/deploy-staging.yml
  package-lock.json
  package.json
  src/App.jsx
  src/components/Button.css
  src/components/Button.jsx
  src/components/ContentCard.css
  src/components/ContentCard.jsx
  src/components/ContentGrid.css
  src/components/ContentGrid.jsx
  src/components/Footer.css
  src/components/Footer.jsx
  src/components/Header.css
  src/components/Header.jsx
  src/components/HeroBanner.css
  src/components/HeroBanner.jsx
  src/components/Loading.css
  src/components/Loading.jsx
  src/components/SeasonEpisodeSelector.css
  src/components/SeasonEpisodeSelector.jsx
  src/components/VideoPlayer.css
  src/components/VideoPlayer.jsx
  src/index.css
  src/main.jsx
  src/pages/Anime.jsx
  src/pages/ContentDetail.jsx
  src/pages/Home.jsx
  src/pages/Library.jsx
  src/pages/Movies.jsx
  src/pages/NotFound.jsx
  src/pages/Search.jsx
  src/pages/TVShows.jsx
  src/services/tmdbApi.js
  src/utils/config.js
  src/utils/index.js
Labels: 🎨 frontend, ⚙️ backend, 🔧 config, 🚀 ci/cd, 📦 dependencies, 🎬 video-player, 🌐 api, 💄 styling, 🌍 environment, 🚢 deployment

docs: update README with CI/CD information
  README.md
Labels: 📚 documentation

fix: handle missing staging FTP secrets gracefully
  .github/workflows/deploy-staging.yml
Labels: 🚀 ci/cd, 🚢 deployment

fix: update security workflows for free tier
  .github/workflows/security-scan.yml
  .github/workflows/testing.yml
Labels: 🚀 ci/cd, 🔒 security

Update footer branding and add SPA routing support
  public/_redirects
  src/components/Footer.css
  src/components/Footer.jsx
  vite.config.js
Labels: 🎨 frontend, 🔧 config, 💄 styling, 🏗️ build

Update footer branding and add SPA routing support
  src/components/Footer.css
  src/components/Footer.jsx
Labels: 🎨 frontend, 💄 styling

docs: update README with free tier optimization note
  README.md
Labels: 📚 documentation

fix: improve code quality workflow merge conflict detection
  .github/workflows/code-quality.yml
Labels: 🚀 ci/cd

Update footer branding and add SPA routing support
  src/components/Footer.jsx
Labels: 🎨 frontend

.github/labeler.yml:

# Configuration for the labeler action
# https://github.com/actions/labeler

# Frontend/UI changes
'🎨 frontend':
  - 'src/components/**/*'
  - 'src/pages/**/*'
  - '**/*.css'
  - '**/*.scss'
  - '**/*.jsx'
  - 'src/assets/**/*'

# Backend/API changes
'⚙️ backend':
  - 'src/services/**/*'
  - 'src/utils/**/*'
  - 'src/api/**/*'

# Configuration changes
'🔧 config':
  - 'vite.config.js'
  - 'package.json'
  - 'package-lock.json'
  - '.env*'
  - '.eslintrc*'
  - '.prettierrc*'
  - 'tsconfig.json'

# Documentation changes
'📚 documentation':
  - '**/*.md'
  - 'docs/**/*'
  - 'README*'
  - 'CHANGELOG*'
  - 'LICENSE*'

# CI/CD changes
'🚀 ci/cd':
  - '.github/**/*'
  - 'Dockerfile*'
  - 'docker-compose*'
  - '.dockerignore'

# Testing changes
'🧪 testing':
  - '**/*.test.js'
  - '**/*.test.jsx'
  - '**/*.spec.js'
  - '**/*.spec.jsx'
  - 'tests/**/*'
  - 'e2e/**/*'
  - 'playwright.config.js'
  - 'jest.config.js'

# Security related
'🔒 security':
  - '.github/workflows/security-scan.yml'
  - '.github/dependabot.yml'
  - 'src/utils/security.js'

# Performance related
'⚡ performance':
  - 'src/utils/performance.js'
  - 'src/hooks/usePerformance.js'
  - 'lighthouse.config.js'

# Dependencies
'📦 dependencies':
  - 'package.json'
  - 'package-lock.json'
  - 'yarn.lock'
  - 'pnpm-lock.yaml'

# Bug fixes
'🐛 bug':
  - any: ['fix', 'bug', 'hotfix']

# New features
'✨ feature':
  - any: ['feat', 'feature', 'add']

# Refactoring
'♻️ refactor':
  - any: ['refactor', 'cleanup', 'improve']

# Breaking changes
'⚠️ breaking-change':
  - 'BREAKING*'
  - any: ['breaking', 'major']

# Accessibility
'♿ accessibility':
  - any: ['a11y', 'accessibility', 'aria']

# Mobile related
'📱 mobile':
  - 'src/styles/mobile.css'
  - 'src/components/mobile/**/*'
  - any: ['mobile', 'responsive']

# Video player related
'🎬 video-player':
  - 'src/components/VideoPlayer*'
  - 'src/services/videoPlayer*'
  - 'src/utils/player*'

# API related
'🌐 api':
  - 'src/services/tmdbApi.js'
  - 'src/services/api*'
  - 'src/utils/api*'

# Styling
'💄 styling':
  - '**/*.css'
  - '**/*.scss'
  - 'src/styles/**/*'

# Build system
'🏗️ build':
  - 'vite.config.js'
  - 'rollup.config.js'
  - 'webpack.config.js'
  - 'build/**/*'

# Environment
'🌍 environment':
  - '.env*'
  - 'src/utils/config.js'

# Deployment
'🚢 deployment':
  - '.github/workflows/deploy*'
  - 'Dockerfile*'
  - 'docker-compose*'

# Monitoring
'📊 monitoring':
  - 'src/utils/analytics.js'
  - 'src/utils/monitoring.js'

# SEO
'🔍 seo':
  - 'public/robots.txt'
  - 'public/sitemap.xml'
  - 'src/utils/seo.js'
  - 'index.html'
